body {
  background: rgb(209, 209, 209);
  padding: 1em;
  margin: 0.5em;
  font-size: 1.1em;
  font-family: Bitter, serif;
}
p {
  margin: 0.5em;
}
.main-heading {
  margin: 1em 0.5em 0.5em 0em;
}
.short {
  background-color: rgb(187, 187, 187);
  border-radius: 0.45em;
  padding: 0.5em;
  margin: 0.75em 0;
}
@media (min-width: 750px) {
  h1 {
    text-align: center;
  }
  .main-body {
    display: flex;
    flex-direction: row;
  }
  .intro {
    max-width: 20vw;
    margin: 0.5em 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    max-height: 50vh;
  }
  .article-container {
    display: flex;
    flex-direction: column;
  }
}
